body{

    background-image: url('fitImage.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;

    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.clr{
    clear: both;
}

.container{
    width: 100%;
    margin-left: 80px;
    overflow: hidden;
}

#main-header {
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: none;
    color: white;
    padding: 20px;
}

#main-header h1{

    float: left;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 16px;
    color: white;
}
    
nav ul {
    margin-top: 16px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav a:hover{
    font-size: 18px;
    color:coral;
    
    border-radius: 10px;
    padding: 10px;
    background-color: none;
}
.contact{
    margin: 20px;
    padding: 40px;
}
.contact h2{
    font-size: 40px;
}

.mobilelabel{
    float: left;
    margin-right: 5px;
}

.Mobile:hover{

    font-size: 20px;
    text-decoration-style: solid;
}


.maintext{
    margin-left: 40px;
    background-color: none;
}

.list1 li{
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
}

#main-footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    color: gray;
}

#bottom-motto{
    color: white;
    width: 30%;
}