body{
    /*background-image: url('./images/workingout.jpeg');*/
    background-repeat: no-repeat;
    background-color: black;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.clr{
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{

    background-color: coral;
    color: white;
    float: left;
    width: 80%;

    box-sizing: border-box;
}

#navbar{
    float:right;
    background-color: coral;
    color: white;

    width: 20%;
    height: 69px;
    box-sizing: border-box;
}

#navbar ul{
    padding:10px;
    list-style: none;
}
#navbar li{
    display: inline;
    padding-right: 10px;
    padding-top: 10px;
}
#navbar a{
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 7px;
    
}
#navbar a:hover{
    font-size: 20px;
    border-radius: 20px;
    color: green;
}
#navbar2{
    float:left;
    background-color: coral;
    color: white;

    
    height: 68px;
    box-sizing: border-box;
}
#navbar2 ul{
    
    margin-left: 10%;
    padding:0px;
    list-style: none;
}
#navbar2 li{
    border-width: 20px;
    border-color: black;
    display: inline;
    padding-right: 10px;
    padding-top: 10px;
}
#navbar2 a{
    
    background-color: coral;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 7px;
    
}

#navbar2 a:hover{
    font-size: 20px;
    border-radius: 20px;
    color: orangered;
}
.maintext{
    margin-left: 40px;
    
}

.block1{
    background-color: white;
    color: black;
    float: left;
    width: 33.3%;
    margin-left:4%;
    margin-top:2%;
    border: 12px solid beige;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    box-sizing: border-box;
}

#main-footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    color: gray;
}

#bottom-motto{
    color: white;
    width: 30%;
}