body {

    background-image: url('fitImage.jpg');
      background-repeat: no-repeat;
      background-color: black;
      background-size: cover;
  
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      
      color: white;
    }
  
    .form-group {
      margin: 10px;
      font-size: 40px;
      text-align: center;
        color: black;
        font-size: large;
    }

  
    .form-group label{
      font-size: 20px;
    }
    header {
      margin-top: 5px;
      margin-bottom: 10px;
      background-color: none;
      color: white;
      padding: 10px;
      height: 100px;
      transition: background-color 1s;
    }
  
    header h1{
  
      float: left;
      margin-right: 50px;
    }
    
  
    nav ul {
      margin-top: 25px;
      list-style: none;
      display: flex;
    }
    
    nav ul li {
      margin-right: 20px;
    }
    
    nav ul li a {
      color: black;
      text-decoration: none;
    }
    
    nav a:hover{
      font-size: 20px;
      color:coral;
      
      border-radius: 10px;
      padding: 10px;
      background-color: none;
    }
    main {
      padding: 20px;
      padding-left: 100px;
      padding-right:100px;
    }
    .main h1, h2 {
      margin-bottom: 10px;
      text-align: center;
      width: 30%;
      margin:auto;
      font-size: 40px;
      padding: 10px;
      border-radius: 10px;
      background-color: black;
    }
    
    section {
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
    }
    
  